body {
  font-family: sans-serif;
  padding:0 5% 0 5%;
  font-size:11pt;
  font-weight: 200;
  margin:0;
}

#nav {
  position: absolute;
  top: 3px;
  left: 11%;
  font-size:8pt;
}

.pagetitle {
  font-size:200%;
  font-weight:600;
  border-top: 20px solid chartreuse;
}

blockquote {
  background-color: #eee;
  padding:.2em;
  padding-left:1em;
  border-left: 3px solid #ccc;
}

h1, h2, h3, h4 {
  font-weight: 400;
  /* font-size:150%; */
}

h1 {
  font-size:140%;
}
h2 {
  font-size:130%;
  margin-left:1em;
}
h3 {
  font-size:120%;
  margin-left:2em;
}
h4 {
  font-size: 110%;
  margin-left:3em;
}

.completedtasklist {
  border-top: 5px solid lightblue;
  margin-top: 3em;
}
.futuretasklist {
  border-top: 5px solid lightsalmon;
  margin-top: 3em;
}

table {
  /* border: 1px solid black;
  border-radius: 5px;*/
  border-spacing: 0; 
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 3px solid black;
}

tr:nth-child(even) {
  background-color: #eee;
}

td {
  border-bottom: 1px solid #ccc;
  border-left: 0.5px solid #ccc;
  border-right: 0.5px solid #ccc;;
  padding: 2px 5px 2px 5px;
}

table.tasktable > tbody > tr {
  background-color: #fff;
}

table.tasktable > tbody > tr > td {
  width:100%;
  border: 0px dashed #ccc;
  margin: 0;
  padding: 0;
}

th, td {
  /* border:1px solid black; */
  font-size:10pt;
}

tr.completedtask > td:first-child {
  position: relative;
  /* top: 0; */
  /* background-color: red; */
  /* text-align: left; */
  vertical-align: top;
  /* top:15px; */
  /* padding-top:15px; */
  padding-left:7px;
  padding-right:7px;
  font-size: 10pt;
  margin:0;
  width:5em;
}

tr.completedtask > td:nth-child(2) {
  position: relative;
}

.completedtask {
  /* padding-left:10%; */
  position:relative;
}
.completedtask h3 {
  position: relative;
  /* left: -9%; */
  font-size: 10pt;
  font-weight: inherit;
  /* background-color: blue; */
  padding:0;
  margin-bottom:.2em;
}
tr.completedtask h4 {
  /* background-color: blue; */
  font-size:10pt;
  font-weight:100;
  margin:0;
  padding-left:10px;
  /* padding:0; */
}

tr.completedtask:hover {
  background-color: rgba(115, 180, 245, 0.251);
}

.completedtask td > .date {
  text-align: center;
  width:5em;
}

.tasknotes {
  display:none;
}

.completednotes {
  font-style: italic;
  position:relative;
  left:20px;
  width:fit-content;
  margin-bottom: 1em;
}

.completedtask ol {
  display:none;
}

.tasknotes h1,
.tasknotes h2,
.tasknotes h3,
.tasknotes h4 {
  font-size: 100%;
}

.tasknotes table {
  /* border: 1px solid black;
  border-radius: 5px;*/
  border-spacing: 0; 
}

.tasknotes th {
  border-bottom: 3px solid black;
}

.tasknotes td {
  border-bottom: 1px solid #333;
  border-left: 0.5px solid #333;
  border-right: 0.5px solid #333;
  padding:3%;
}

.jsondata {
  display:none;
  position:relative;
}

.jsondata pre {
  border:1px solid #ccc;
  width:600px;
  height:300px;
  overflow: scroll;
  font-size:8pt;
  background-color: #eee;
}

.thingsicon {
  position:absolute;
  left: -20px;
  top:-3px;
  display:none;
}

.tasktitle:hover + .thingsicon,
.thingsicon:hover {
  display:block;
}

.infobutton {
  position: absolute;
  right: -10px;
  top: 0;
  color:silver;
  font-size:9pt;
}
.infobutton:hover {
  cursor: pointer; 
  color:#000;
}

h3.actiongroup {
  font-weight:500;
  font-size:medium;
}

div.header {
  position: absolute;
  top: 3px;
  right: 11%;
  font-size:8pt;
}

div.footer {
  font-size: 8pt;
  padding-top:3em;
  padding-bottom:1em;
  text-align: center;
}

h1 ~ p {
  margin-left:1em;
}

h2 ~ p {
  margin-left:2em;
}

h3 ~ p {
  margin-left:3em;
}

h4 ~ p {
  margin-left:4em;
}

.latetask {
  color: red;
}
.soontask {
  color: green;
}
.upcomingtask {
  color: yellowgreen;
}

td.latetask,
td.soontask,
td.upcomingtask {
  text-align: center;
  width:5em;
}

tr.project td {
  font-size: 125%;
}

.recurrencetext {
  position: absolute;
  right:2em;
  padding-left:1em;
  padding-right:1em;
  font-style: italic;
  /* opacity: 60%; */
  background-color: #fff;
  z-index: 1000;
}
